[Desktop Entry]
Name=Pince
Comment=Lightweight personal document library
Exec=pince %U
Icon=io.github.essicolo.Pince
Terminal=false
Type=Application
Categories=Office;Documentation;
Keywords=documents;library;bibliography;bibtex;pdf;
MimeType=application/json;text/x-bibtex;
StartupNotify=true
